{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="containner col-md-6">
                <form action="/home" method="post" class="generate">
                    <h1>Password Generator</h1>
                    <div class="form-group">
                        <label for="length">Password Length:</label>
                        <input type="number" id="length" name="length" class="form-control" min="6" max="50" value="16">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="numbers" name="numbers" value="numbers" class="form-check-input" checked>
                        <label for="numbers" class="form-check-label">Include Numbers</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="lowercase" name="lowercase" value="lowercase" class="form-check-input" checked>
                        <label for="lowercase" class="form-check-label">Include Lowercase Letters</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="uppercase" name="uppercase" value="uppercase" class="form-check-input" checked>
                        <label for="uppercase" class="form-check-label">Include Uppercase Letters</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="symbols" name="symbols" value="symbols" class="form-check-input" checked>
                        <label for="symbols" class="form-check-label">Include Symbols</label>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <button type="submit" class="btn btn-outline-dark btn-lg btn-block" style="font-weight: bold;">Generate Password</button>
                        </div>
                    </div>
                </form>
                {% if password %}
                <div class="generated-password">
                    <h2>Your Generated Password:</h2>
                    <p>{{ password }}</p>
                </div>
                {% endif %}
            </div>
            <div class="control col-md-5">
                <div class="right-section">
                    <p>"Strong passwords are crucial for online security. They defend your accounts and personal data against cyber threats. Use a mix of characters, avoid reusing passwords, and prioritize length for added security. Stay safe online!"</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

