{% extends "layout.html" %}
{% block content %}
    <div class="content-section col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <form method="POST" action="" style="padding: 20px; font-weight: bolder;">
                    {{ form.hidden_tag() }}
                    <fieldset class="from-group">
                        <legend class="border-bottom mb-4 text-body">
                            Log In Today
                        </legend>
                        <div class="form-group mb-6 text-body" style="margin-bottom: 20px; font-weight: bold">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group text-body" style="margin-bottom: 20px; font-weight: bold;">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-check text-body" style="margin-bottom: 20px; font-weight: bold;">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </fieldset>
                    <div class="form-group" style="margin-bottom: 20px; font-weight: bolder;">
                        {{ form.submit(class="btn btn-outline-dark") }}
                    </div>
                </form>
                <div class="border-top pt-3" style="margin-top: 20px;">
                    <small class="text-body" style="font-weight: bolder;">
                        Need An Account? <a class="text-body ml-2" href="{{ url_for('register') }}">Sign Up</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

