body {
    background-image: url('back3.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #333333;
    margin-top: 5rem;
    height: 100%;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}


.wrapper {
    position: relative;
    min-height: 100vh;
}
  
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header stays on top */
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to transparent */
}

.site-header .navbar-nav .nav-link {
    color: #010101;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #580404;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
  
.content-section form {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}


.article-title {
    color: #444444;
}
  
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

/*Generate page*/
.containner {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.generate {
    max-width: 400px;
    margin: 0 auto;
}
.btn-primary {
    width: 100%;
    margin-top: 20px;
}
.generated-password {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px; /* Add margin at the bottom */
    font-size: 24px;
}


.footer {
    position: fixed; /* Fix the footer at the bottom of the viewport */
    left: 0; /* Align the footer to the left */
    bottom: 0; /* Align the footer to the bottom */
    width: 100%; /* Set the footer width to 100% */
    padding: 20px; /* Add padding to the footer content */
    text-align: center;  /* Set your desired footer text color */
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
}

.left-section {
    padding-right: 15px; /* Adjust if necessary */
}

.right-section {
    padding-left: 15px; /* Adjust if necessary */
}

.centered-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    font-family: Cursive, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px; /* Adjust the margin top as needed */
    margin-left: 55px;
}



.table-transparent th,
.table-transparent td {
    background-color: rgba(255, 255, 255, 0.5);
}

.butn {
    margin-top: 29px;
}

.left-section {
    height: 500px; /* Set maximum height */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.right-section {
    overflow-x: auto;
}

.main-content {
    margin-top: 100px; /* Adjust according to the header height */
    margin-bottom: 100px; /* Adjust according to the footer height */
}
